{% extends 'base.html.twig' %}

{% block title %} Dodaj nowy dysk twardy{% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('hdd_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista dysków HDD</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nowy dysk HDD </h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(form.name, 'Nazwa dysku', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę dysku'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.model, 'Model dysku', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.model, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź kod modelowy'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.series, 'Seria', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.series, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź serię produktu'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.brand, 'Producent', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.brand, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź Producenta'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.capacity, 'Pojemność GB', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.capacity, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź pojemność w GB'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.formFactor, 'Format obudowy', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.formFactor, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz format obudowy'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.interface, 'Interfejs', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.interface, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz interfejs'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.rotationSpeedRpm, 'Prędkość obrotowa RPM', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.rotationSpeedRpm, { 'attr': {'class': 'form-control', 'placeholder': 'Prędkość obrotowa RPM'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.cache, 'Pamięć podręczna MB', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.cache, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź rozmiar cache w MB'} }) }}
                                    </div>
                                </div>

                                <input type="submit" value="Dodaj nowy dysk"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>

                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}