{% extends 'base.html.twig' %}

{% block body %}
    <h1>Laptops list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Model</th>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Cpu</th>
                <th>Ram</th>
                <th>Hdd</th>
                <th>Sdd</th>
                <th>Drive</th>
                <th>Powersupply</th>
                <th>Battery</th>
                <th>Screen</th>
                <th>Os</th>
                <th>Ipaddress</th>
                <th>Macaddress</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Purchasedate</th>
                <th>Adddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for laptop in laptops %}
            <tr>
                <td><a href="{{ path('laptop_show', { 'id': laptop.id }) }}">{{ laptop.id }}</a></td>
                <td>{{ laptop.name }}</td>
                <td>{{ laptop.model }}</td>
                <td>{{ laptop.type }}</td>
                <td>{{ laptop.manufacturer }}</td>
                <td>{{ laptop.cpu }}</td>
                <td>{{ laptop.ram }}</td>
                <td>{{ laptop.hdd }}</td>
                <td>{{ laptop.sdd }}</td>
                <td>{{ laptop.drive }}</td>
                <td>{{ laptop.powerSupply }}</td>
                <td>{{ laptop.battery }}</td>
                <td>{{ laptop.screen }}</td>
                <td>{{ laptop.os }}</td>
                <td>{{ laptop.ipAddress }}</td>
                <td>{{ laptop.macAddress }}</td>
                <td>{{ laptop.picture }}</td>
                <td>{{ laptop.price }}</td>
                <td>{% if laptop.purchaseDate %}{{ laptop.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ laptop.addDate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('laptop_show', { 'id': laptop.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('laptop_edit', { 'id': laptop.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('laptop_new') }}">Create a new laptop</a>
        </li>
    </ul>
{% endblock %}
