{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gpus list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Chipset</th>
                <th>Series</th>
                <th>Brand</th>
                <th>Memorysize</th>
                <th>Memorytype</th>
                <th>Compatiableslotport</th>
                <th>Cooling</th>
                <th>Monitorconnectors</th>
                <th>Powerconnectors</th>
                <th>Formfactor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gpu in gpus %}
            <tr>
                <td><a href="{{ path('gpu_show', { 'id': gpu.id }) }}">{{ gpu.id }}</a></td>
                <td>{{ gpu.name }}</td>
                <td>{{ gpu.chipset }}</td>
                <td>{{ gpu.series }}</td>
                <td>{{ gpu.brand }}</td>
                <td>{{ gpu.memorySize }}</td>
                <td>{{ gpu.memoryType }}</td>
                <td>{{ gpu.compatiableSlotPort }}</td>
                <td>{{ gpu.cooling }}</td>
                <td>{{ gpu.monitorConnectors }}</td>
                <td>{{ gpu.powerConnectors }}</td>
                <td>{{ gpu.formFactor }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gpu_show', { 'id': gpu.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gpu_edit', { 'id': gpu.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gpu_new') }}">Create a new gpu</a>
        </li>
    </ul>
{% endblock %}
