{% extends 'base.html.twig' %}

{% block title %} Dodaj nową kartę graficzną{% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('gpu_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista kart graficznych</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nową kartę graficzną</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(form.name, 'Nazwa karty', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę karty'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.chipset, 'Model chipsetu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.chipset, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź model chipsetu np. GTX 960'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.series, 'Seria', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.series, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź serię produktu'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.brand, 'Producent', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.brand, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź Producenta'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.memorySize, 'Pojemność MB', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.memorySize, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź pojemność w MB'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.memoryType, 'Typ pamięci', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.memoryType, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz typ pamięci'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.compatiableSlotPort, 'Interfejs', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.compatiableSlotPort, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz interfejs'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.cooling, 'Chłodzenie', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.cooling, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz typ chłodzenia'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.monitorConnectors, 'Wyjścia obrazu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6 my-radio uniform">
                                        {{ form_widget(form.monitorConnectors, { 'attr': {'class': 'uniform'} }) }}

                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.powerConnectors, 'Dodatkowe zasilanie karty', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.powerConnectors, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz typ zasilania'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.formFactor, 'Budowa:', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.formFactor, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz budowę karty'} }) }}
                                    </div>
                                </div>


                                <input type="submit" value="Dodaj nową kartę graficzną"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}