{% extends 'base.html.twig' %}

{% block title %} Edytuj drukarkę {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('printer_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista tabletów</span>
            </a>
            <a href="{{ path('printer_show', {'id': printer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż drukarkę</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Edytuj tablet</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(edit_form.name, 'Nazwa ', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.type, 'Typ wydruku', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź Producenta'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.factor, 'Rodzaj drukarki', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.factor, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź rodzaj'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.color, 'Kolor wydruku', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.color, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz kolor'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.brand, 'Producent', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.brand, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź producenta'} }) }}
                                    </div>
                                </div>


                                <div class="form-group">
                                    {{ form_label(edit_form.model, 'Model', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.model, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź model'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.series, 'S/N', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.series, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź numer seryjny'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.powerSupply, 'Zasilacz', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.powerSupply, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź zasilacz'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.macAddress, 'MAC', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.macAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź adres MAC'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.ipAddress, 'Adres IP', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.ipAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź przydzielony adres IP'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.location, 'Lokalizacja', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.location, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź lokalizację'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.description, 'Uwagi', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.description, { 'attr': {'class': 'form-control autosize'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.warrantyEndDate, 'Data wygaśnięcia gwarancji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-3">
                                        {{ form_widget(edit_form.warrantyEndDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <input type="submit" value="Zapisz zmiany"
                                       class="btn btn-primary btn-grad control-label" formnovalidate/>
                                <br>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}