{% extends 'base.html.twig' %}

{% block body %}
    <h1>Printers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Model</th>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Powersupply</th>
                <th>Price</th>
                <th>Adddate</th>
                <th>Purchasedate</th>
                <th>Macaddress</th>
                <th>Ipaddress</th>
                <th>Picture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for printer in printers %}
            <tr>
                <td><a href="{{ path('printer_show', { 'id': printer.id }) }}">{{ printer.id }}</a></td>
                <td>{{ printer.name }}</td>
                <td>{{ printer.model }}</td>
                <td>{{ printer.type }}</td>
                <td>{{ printer.manufacturer }}</td>
                <td>{{ printer.powerSupply }}</td>
                <td>{{ printer.price }}</td>
                <td>{% if printer.addDate %}{{ printer.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if printer.purchaseDate %}{{ printer.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ printer.macAddress }}</td>
                <td>{{ printer.ipAddress }}</td>
                <td>{{ printer.picture }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('printer_show', { 'id': printer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('printer_edit', { 'id': printer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('printer_new') }}">Create a new printer</a>
        </li>
    </ul>
{% endblock %}
