{% extends 'base.html.twig' %}

{% block title %} Dodaj drukarkę{% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('printer_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista drukarek</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}
{% block body %}
    <h1>Printer creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('printer_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
