{% extends 'base.html.twig' %}

{% block title %} Drukarki {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('printer_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista drukarek</span>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('printer_edit', { 'id': printer.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-wrench"></i>
                <span class="link-title">Edytuj</span>
            </a>
            <a href="{{ path('printer_photo', {'id': printer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-file-photo-o"></i>
                <span class="link-title">Zdjęcie</span>
            </a>
            <a href="{{ path('printer_employees', {'id': printer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-user"></i>
                <span class="link-title">Pracownicy</span>
            </a>
            <a href="{{ path('printer_finances', {'id': printer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-money"></i>
                <span class="link-title">Finanse</span>
            </a>
            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-metis-5 btn-grad btn-rect btn-md inline"><i
                            class="fa fa-trash"></i> Usuń
                </button>
                {{ form_end(delete_form) }}
            </div>
            {% endif %}
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}
{% block body %}
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane identyfikacyjne</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Nazwa</td>
                                        <td>{{ printer.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Rodzaj</td>
                                        <td>{{ printer.factor }}</td>
                                    </tr>
                                    <tr>
                                        <td>Kolor</td>
                                        <td>{{ printer.color }}</td>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                        <td>{{ printer.model }}</td>
                                    </tr>
                                    <tr>
                                        <td>Producent</td>
                                        <td>{{ printer.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nr seryjny</td>
                                        <td>{{ printer.series }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-photo"></i></div>
                                <h5>Zdjęcia</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('printer_photo', {'id': printer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        {% endif %}
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>
                                            {% for picture in printer.pictures %}
                                                <a href="{{ asset('pictures/' ~ picture.file) }}">
                                                    {%  set thumb200 = picture.file|replace({'.': "thumb200."}) %}
                                                    <img src="{{ asset('pictures/thumb200/' ~ thumb200) }}" alt="Drukarka"
                                                         height="200" width="200">
                                                </a>
                                            {% else %}
                                                {% set picture = "default.png" %}
                                                <a href="{{ asset('pictures/' ~ picture) }}">
                                                    <img src="{{ asset('pictures/' ~ picture) }}" alt="Drukarka"
                                                         height="200" width="200">
                                                </a>
                                            {% endfor %}
                                        </td>
                                        Kliknij aby powiększyć
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->


                <!-- /.row -->
                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Parametry</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Rodzaj wydruku</td>
                                        <td>{{ printer.type }}</td>
                                    </tr>

                                    <tr>
                                        <td>Zasilacz</td>
                                        <td>{{ printer.powerSupply }}</td>
                                    </tr>
                                    <tr>
                                        <td>Opis</td>
                                        <td>{{ printer.description|nl2br }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane sieciowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Adres IP</td>
                                        <td>{{ printer.ipAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>MAC Adres</td>
                                        <td>{{ printer.macAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nazwa sieciowa</td>
                                        <td>{{ printer.name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
                
                <!-- /.row -->
                <div class="row">
                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Pracownicy</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('printer_employees', {'id': printer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        {% endif %}
                                        <a href="#condensedTable6" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable6" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                        <th>Stanowisko</th>
                                        <th>Dział</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employee in printer.employees %}
                                        <tr>
                                            <td>{{ employee.name }}</td>
                                            <td>{{ employee.surname }}</td>
                                            <td>{{ employee.job }}</td>
                                            <td>{{ employee.departament.name }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane finansowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('printer_finances', { 'id': printer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        {% endif %}
                                        <a href="#condensedTable4" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable6" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Typ dokumentu</th>
                                        <th>Podmiot</th>
                                        <th>Numer</th>
                                        <th>Sprzedawca</th>
                                        <th>Cena</th>
                                        <th>Data</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for document in printer.documents %}
                                        <tr>
                                            <td>{{ document.type }}</td>
                                            <td>{{ document.subject }}</td>
                                            <td>{{ document.number }}</td>
                                            <td>{{ document.sellerName }}</td>
                                            <td>{{ document.price }}</td>
                                            <td>{% if document.purchaseDate %}{{ document.purchaseDate|date('Y-m-d') }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
{% endblock %}
