{% extends 'base.html.twig' %}

{% block title %} Pamięć RAM desktopowa {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('desktopram_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-down"></i>
                <span class="link-title">Lista pamięci Ram</span>
            </a>
            <a href="{{ path('desktopram_new') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-plus"></i>
                <span class="link-title">Dodaj</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}

    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!--Begin Datatables-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-desktop"></i></div>
                                <h5>Lista komputerów</h5>
                            </header>
                            <div id="collapse4" class="body">
                                <table id="dataTable"
                                       class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Model</th>
                                        <th>Seria</th>
                                        <th>Producent</th>
                                        <th>Pojemność w Gb</th>
                                        <th>Typ</th>
                                        <th>Taktowanie</th>
                                        <th>CAS opóźnienie</th>
                                        <th>Ilość pinów</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for desktopRam in desktopRams %}
                                        <tr onclick='location.href = "{{ path('desktopram_show', { 'id': desktopRam.id }) }}"'>
                                            <td>{{ desktopRam.name }}</td>
                                            <td>{{ desktopRam.model }}</td>
                                            <td>{{ desktopRam.series }}</td>
                                            <td>{{ desktopRam.brand }}</td>
                                            <td>{{ desktopRam.capacity }} GB</td>
                                            <td>{{ desktopRam.type }}</td>
                                            <td>{{ desktopRam.busSpeed }}</td>
                                            <td>CL{{ desktopRam.casLatency }}</td>
                                            <td>{{ desktopRam.numberOfPins }} pins</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!--End Datatables-->

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
{% endblock %}


