{% extends 'base.html.twig' %}

{% block title %} Pracownik {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('employee_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista pracowników</span>
            </a>
            <a href="{{ path('employee_edit', { 'id': employee.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-wrench"></i>
                <span class="link-title">Edytuj</span>
            </a>

            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-metis-5 btn-grad btn-rect btn-lg inline"><i class="fa fa-trash"></i> Usuń</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}

    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane podstawowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td>Imie</td>
                                            <td>{{ employee.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nazwisko</td>
                                            <td>{{ employee.surname }}</td>
                                        </tr>
                                        <tr>
                                            <td>Stanowisko</td>
                                            <td>{{ employee.job }}</td>
                                        </tr>
                                        <tr>
                                            <td>Dział</td>
                                            <td>{{ employee.departament.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Adres email</td>
                                            <td>{{ employee.email}}</td>
                                        </tr>
                                        <tr>
                                            <td>Telefon</td>
                                            <td>{{ employee.phone }}</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Przypisane urządzenia</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Rodzaj</th>
                                            <th>Nazwa</th>
                                            <th>Marka</th>
                                            <th>Model</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for computer in employee.computers %}
                                            <tr>
                                                <td>Komputer</td>
                                                <td>{{ computer.name }}</td>
                                                <td>{{ computer.brand }}</td>
                                                <td>{{ computer.model }}</td>
                                                <td>
                                                    <a href="{{ path('employee_remove_computer', { 'computer': computer.id, 'employee': employee.id }) }}" class="btn btn-danger btn-grad btn-rect btn-sm">
                                                        <i class="fa fa-unlink"></i>
                                                        <span class="link-title">odłącz</span>
                                                    </a>
                                                </td>
                                            </tr>       
                                        {% endfor %}
                                        {% for tablet in employee.tablets %}
                                            <tr>
                                                <td>Tablet</td>
                                                <td>{{ tablet.name }}</td>
                                                <td>{{ tablet.brand }}</td>
                                                <td>{{ tablet.model }}</td>
                                                <td>
                                                    <a href="{{ path('employee_remove_tablet', { 'tablet': tablet.id, 'employee': employee.id }) }}" class="btn btn-danger btn-grad btn-rect btn-sm">
                                                        <i class="fa fa-unlink"></i>
                                                        <span class="link-title">odłącz</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for phone in employee.phones %}
                                            <tr>
                                                <td>Telefon</td>
                                                <td>{{ phone.name }}</td>
                                                <td>{{ phone.brand }}</td>
                                                <td>{{ phone.model }}</td>
                                                <td>
                                                    <a href="{{ path('employee_remove_phone', { 'phone': phone.id, 'employee': employee.id }) }}" class="btn btn-danger btn-grad btn-rect btn-sm">
                                                        <i class="fa fa-unlink"></i>
                                                        <span class="link-title">odłącz</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for printer in employee.printers %}
                                            <tr>
                                                <td>Drukarka</td>
                                                <td>{{ printer.name }}</td>
                                                <td>{{ printer.brand }}</td>
                                                <td>{{ printer.model }}</td>
                                                <td>
                                                    <a href="{{ path('employee_remove_printer', { 'printer': printer.id, 'employee': employee.id }) }}" class="btn btn-danger btn-grad btn-rect btn-sm">
                                                        <i class="fa fa-unlink"></i>
                                                        <span class="link-title">odłącz</span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Licencje</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Program</th>
                                            <th>Typ licencji</th>
                                            <th>Wygasa</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for license in employee.licenses %}
                                            <tr>                                                    
                                                <td>{{ license.name }}</td>
                                                <td>{{ license.type}}</td>
                                                <td>{{ license.expireDate|date("m/d/Y") }}</td>
                                                <td>
                                                    <a href="{{ path('employee_remove_license', { 'employee': employee.id, 'license': license.id }) }}" class="btn btn-danger btn-grad btn-rect btn-sm">
                                                        <i class="fa fa-unlink"></i>
                                                        <span class="link-title">odłącz</span>
                                                    </a>
                                                </td>
                                            </tr>       
                                        {% endfor %}

                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->



            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->


{% endblock %}
