{% extends 'base.html.twig' %}

{% block title %} Użytkownik {% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-8 -->
                    <div class="col-lg-8">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane podstawowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>

                                            <th><img class="media-object img-thumbnail user-img" alt="User Picture" src="{{ asset('img/user.gif') }}"></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Nick</td>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Dostępny</td>
                                            <td>{{ user.enabled }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ostatnie logowanie</td>
                                            <td>{{ user.lastLogin |date("F jS \\a\\t g:ia") }}</td>
                                        </tr>
                                        <tr>
                                            <td>Przypisane role</td>
                                            <td>
                                                {% for roles in user.roles %}
                                                    {{ roles }} 
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-8 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
{% endblock %}
