{% extends 'base.html.twig' %}

{% block title %} Edycja licencji {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('license_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-fast-backward"></i>
                <span class="link-title">Lista licencji</span>
            </a>
            <a href="{{ path('license_show', { 'id': license.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż licencję</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nowy dział firmy</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}

                                <div class="form-group">
                                    {{ form_label(edit_form.application, 'Nazwa programu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.application, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.name, 'Nazwa licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę licencji (opcjonalnie)'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.licenseKey, 'Klucz licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.licenseKey, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź klucz'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.type, 'Typ licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.format, 'Nośnik', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.format, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz nośnik'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.free, 'Bezpłatna', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6 uniform">
                                        {{ form_widget(edit_form.free, { 'attr': {'class': 'uniform',
                                            'data-toggle': 'toggle',
                                            'data-size': 'small',
                                            'data-on':'Tak',
                                            'data-off':'Nie',
                                            'data-onstyle': 'success',
                                            'data-offstyle': 'danger',
                                        } }) }}
                                    </div>
                                </div>


                                <div class="form-group">
                                    {{ form_label(edit_form.lifetime, 'Wygaśnie', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6 uniform">
                                        {{ form_widget(edit_form.lifetime, { 'attr': {'class': 'uniform',
                                            'data-toggle': 'toggle',
                                            'data-size': 'small',
                                            'data-on':'Tak',
                                            'data-off':'Nie',
                                            'data-onstyle': 'danger',
                                            'data-offstyle': 'success',
                                        } }) }}

                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.expireDate, 'Data wygaśnięcia', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-3">
                                        {{ form_widget(edit_form.expireDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.numberOfSites, 'Liczba stanowisk', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.numberOfSites, { 'attr': {'class': 'form-control', 'placeholder': 0} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.purchaseDate, 'Data zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-3">
                                        {{ form_widget(edit_form.purchaseDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.comment, 'Uwagi', { 'label_attr': {'for':'autosize', 'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.comment, { 'attr': {'class': 'form-control', 'placeholder': 'Uwagi odnośnie licencji'} }) }}
                                    </div>
                                </div>


                                <input type="submit" value="Zapisz zmiany" class="btn btn-primary btn-grad control-label" />
                                <br>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>


                    <!----------------------------------------------------->                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}