{% extends 'base.html.twig' %}

{% block title %} Dodaj licencję {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('license_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista licencji</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nowy dział firmy</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(form.name, 'Nazwa programu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.brand, 'Licencjonodawca', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.brand, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź autora oprogramowania'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.licenseKey, 'Klucz licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.licenseKey, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź klucz'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.type, 'Typ licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.format, 'Nośnik', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.format, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz nośnik'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.free, 'Bezpłatna', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6 my-radio uniform">
                                        {{ form_widget(form.free, { 'attr': {'class': 'uniform'} }) }}

                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.lifetime, 'Wygaśnie', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6 my-radio uniform">
                                        {{ form_widget(form.lifetime, { 'attr': {'class': 'uniform'} }) }}

                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.expireDate, 'Data wygaśnięcia', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-3">
                                        {{ form_widget(form.expireDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.numberOfSites, 'Liczba stanowisk', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.numberOfSites, { 'attr': {'class': 'form-control', 'placeholder': 0} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.purchaseDate, 'Data zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-3">
                                        {{ form_widget(form.purchaseDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.comment, 'Uwagi', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'placeholder': 'Uwagi odnośnie licencji'} }) }}
                                    </div>
                                </div>


                                <input type="submit" value="Dodaj nową licencję"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>


                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}