{% extends 'base.html.twig' %}

{% block title %} Dodaj dział {% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nowy dział firmy</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group" >
                                    {{ form_label(form.name, 'Nazwa licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group" >
                                    {{ form_label(form.licenseKey, 'Klucz licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.licenseKey, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź klucz'} }) }}
                                    </div>
                                </div>

                                <div class="form-group" >
                                    {{ form_label(form.type, 'Typ licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ'} }) }}
                                    </div>
                                </div>

                                <div class="form-group" >
                                    {{ form_label(form.price, 'Cena zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.price, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.purchaseDate, 'Data zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    
                                    <div class="col-lg-3">
                                        {{ form_widget(form.purchaseDate, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.expireDate, 'Data wygaśnięcia', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    
                                    <div class="col-lg-3">
                                        {{ form_widget(form.expireDate, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>


                                <input type="submit" value="Dodaj nową licencję" class="btn btn-primary btn-grad control-label" />
                                <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>


                    <!----------------------------------------------------->                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}