{% extends 'base.html.twig' %}

{% block body %}
    <h1>License</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ license.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ license.name }}</td>
            </tr>
            <tr>
                <th>Licensekey</th>
                <td>{{ license.licenseKey }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ license.type }}</td>
            </tr>
            <tr>
                <th>Expiredate</th>
                <td>{{ license.expireDate }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ license.price }}</td>
            </tr>
            <tr>
                <th>Purchasedate</th>
                <td>{% if license.purchaseDate %}{{ license.purchaseDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Adddate</th>
                <td>{% if license.addDate %}{{ license.addDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('license_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('license_edit', { 'id': license.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
