{% extends 'base.html.twig' %}

{% block title %} Licencje {% endblock %}


{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane podstawowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td>Nazwa aplikacji</td>
                                            <td>{{ license.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Klucz produktu</td>
                                            <td>{{ license.licenseKey }}</td>
                                        </tr>
                                        <tr>
                                            <td>Typ licencji</td>
                                            <td>{{ license.type }}</td>
                                        </tr>
                                        <tr>
                                            <td>Licencjodawca</td>
                                            <td>Microsoft</td>
                                        </tr>
                                        <tr>
                                            <td>Data wygaśnięcia</td>
                                            <td>{{ license.expireDate|date('Y-m-d')  }}</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->


                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane finansowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td>Data zakupu</td>
                                            <td>{% if license.purchaseDate %}{{ license.purchaseDate|date('Y-m-d') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Data wprowadzenia</td>
                                            <td>{% if license.addDate %}{{ license.addDate|date('Y-m-d') }}{% endif %}</td>
                                        </tr>
                                        <tr>
                                            <td>Cena zakupu</td>
                                            <td>{{ license.price }}</td>
                                        </tr>
                                        <tr>
                                            <td>Kwota odnowienia</td>
                                            <td>50 PLN</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Przypisany sprzęt</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Nazwa</th>
                                            <th>Typ</th>
                                            <th>Model</th>
                                            <th>Naklejka</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for desktop in license.desktops %}
                                            <tr>                                                    
                                                <td>{{ desktop.name }}</td>
                                                <td>{{ desktop.type }}</td>
                                                <td>{{ desktop.model }}</td>
                                                <td>Tak</td>
                                            </tr>       
                                        {% endfor %}
                                        {% for laptop in license.laptops %}
                                            <tr>                                                    
                                                <td>{{ laptop.name }}</td>
                                                <td>{{ laptop.type }}</td>
                                                <td>{{ laptop.model }}</td>
                                                <td>Tak</td>
                                            </tr>       
                                        {% endfor %}
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Użytkownicy</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Imię</th>
                                            <th>Nazwisko</th>
                                            <th>Stanowisko</th>
                                            <th>Dział<th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for employee in license.employees %}
                                            <tr>                                                    
                                                <td>{{ employee.name }}</td>
                                                <td>{{ employee.surname }}</td>
                                                <td>{{ employee.job }}</td>
                                                <td>{{ employee.departament.name }}</td>
                                            </tr>       
                                        {% endfor %}

                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->



            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}
