{% extends 'base.html.twig' %}

{% block title %} Aplikacje {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('application_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista aplikacji</span>
            </a>
            <a href="{{ path('application_edit', { 'id': application.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-wrench"></i>
                <span class="link-title">Edytuj</span>
            </a>
            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-metis-5 btn-grad btn-rect btn-md inline"><i
                            class="fa fa-trash"></i> Usuń
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane podstawowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <th>Nazwa programu</th>
                                        <td>{{ application.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Typ programu</th>
                                        <td>
                                            {% if application.type == "os" %}
                                                System operacyjny
                                            {% elseif application.type == "antivirus" %}
                                                Program antywirusowy
                                            {% elseif application.type ==  "office" %}
                                                Biurowy
                                            {% elseif application.type == "special" %}
                                                Specjalny
                                            {% elseif application.type == "database" %}
                                                Baza danych
                                            {% elseif application.type == "graphic" %}
                                                Graficzny
                                            {% elseif application.type == "other" %}
                                                Inny
                                            {% else %}
                                                {{ application.type }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rodzaj licencji</th>
                                        <td>{{ application.licenseType }}</td>
                                    </tr>
                                    <tr>
                                        <th>Autor</th>
                                        <td>{{ application.developer }}</td>
                                    </tr>
                                    <tr>
                                        <th>Strona domowa</th>
                                        <td>{{ application.webpage }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->


                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Opis</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>{{ application.description |nl2br }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->


                </div>
                <!-- /.row -->


            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}
