{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tablets list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Cpu</th>
                <th>Ram</th>
                <th>Rom</th>
                <th>Modem</th>
                <th>Screensize</th>
                <th>Os</th>
                <th>Pin</th>
                <th>Pinscreen</th>
                <th>Color</th>
                <th>Description</th>
                <th>Sim</th>
                <th>Employee</th>
                <th>Adddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tablet in tablets %}
            <tr>
                <td><a href="{{ path('tablet_show', { 'id': tablet.id }) }}">{{ tablet.id }}</a></td>
                <td>{{ tablet.name }}</td>
                <td>{{ tablet.brand }}</td>
                <td>{{ tablet.model }}</td>
                <td>{{ tablet.serial }}</td>
                <td>{{ tablet.cpu }}</td>
                <td>{{ tablet.ram }}</td>
                <td>{{ tablet.rom }}</td>
                <td>{{ tablet.modem }}</td>
                <td>{{ tablet.screenSize }}</td>
                <td>{{ tablet.os }}</td>
                <td>{{ tablet.pin }}</td>
                <td>{{ tablet.pinScreen }}</td>
                <td>{{ tablet.color }}</td>
                <td>{{ tablet.description }}</td>
                <td>{{ tablet.sim }}</td>
                <td>{{ tablet.employee }}</td>
                <td>{{ tablet.addDate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tablet_show', { 'id': tablet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tablet_edit', { 'id': tablet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tablet_new') }}">Create a new tablet</a>
        </li>
    </ul>
{% endblock %}
