{% extends 'base.html.twig' %}

{% block title %} Manager IT {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>

        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}

    <body class="  ">
    <div class="bg-dark dk" id="wrap">

        <!-- /#left -->
        <div id="content">
            <div class="outer">
                <div class="inner bg-light lter">
                    <div class="text-center">
                        <ul class="stats_box">
                            <!-- stats fake mechanism -->
                            {% set percent = random(77)  %}
                            {% set class = 'up' %}
                            {% set  sign = random(['+', '-']) %}
                            {% if (sign == '-') %}
                                {% set class = 'down' %}
                            {% endif %}
                            <!-- --------------- -->
                            <li>
                                <div class="sparkline line_day"><i class="fas fa-database fa-2x"></i></div>
                                <div class="stat_text">
                                    <strong>Kontroler </strong>domeny
                                    <span class="percent {{ class }}"> <i class="fa fa-caret-{{ class }}"></i> {{ sign }}{{ percent }}%</span>
                                </div>
                            </li>
                            <!-- stats fake mechanism -->
                            {% set percent = random(99) %}
                            {% set class = 'up' %}
                            {% set  sign = random(['+', '-']) %}
                            {% if (sign == '-') %}
                                {% set class = 'down' %}
                            {% endif %}
                            <!-- --------------- -->
                            <li>
                                <div class="sparkline pie_week"><i class="fab fa-redhat fa-2x"></i></div>
                                <div class="stat_text">
                                    <strong>System ARP</strong>Obciązenie
                                    <span class="percent {{ class }}"> <i class="fa fa-caret-{{ class }}"></i> {{ sign }}{{ percent }}%</span>
                                </div>
                            </li>
                            <!-- stats fake mechanism -->
                            {% set percent = random(99) %}
                            {% set class = 'up' %}
                            {% set  sign = random(['+', '-']) %}
                            {% if (sign == '-') %}
                                {% set class = 'down' %}
                            {% endif %}
                            <!-- --------------- -->
                            <li>
                                <div class="sparkline stacked_month"><i class="fas fa-chart-line fa-2x"></i></div>
                                <div class="stat_text">
                                    <strong>Trend</strong>WAMP-TRANS
                                    <span class="percent {{ class }}"> <i class="fa fa-caret-{{ class }}"></i> {{ sign }}{{ percent }}%</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="text-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="quick-btn" href="{{ path('computer_type_index', {'type' : 'desktop'}) }}">
                                <i class="fa fa-desktop fa-4x"></i>
                                <span>Komputery</span>
                                <span class="label label-default">{{ statistic.computerCount }}</span>
                            </a>

                            <a class="quick-btn" href="{{ path('computer_type_index', {'type' : 'laptop'}) }}">
                                <i class="fa fa-laptop fa-4x"></i>
                                <span>Laptopy</span>
                                <span class="label label-danger">{{ statistic.laptopCount }}</span>
                            </a>
                            <a class="quick-btn" href="#" data-toggle="popover" title="Uwaga" data-trigger="focus"
                               data-content="Nie masz uprawnień do wybranego modułu!">
                                <i class="fa fa-server fa-4x"></i>
                                <span>Serwery</span>
                                <span class="label label-danger">10</span>
                            </a>
                            <a class="quick-btn" href="{{ path('networkdevice_index') }}">
                                <i class="fas fa-network-wired fa-4x"></i>
                                <span>Sieciowe</span>
                                <span class="label label-success">{{ statistic.networkDeviceCount }}</span>
                            </a>
                        {% else %}
                            <a class="quick-btn" href="#"
                               data-toggle="popover" title="Uwaga" data-trigger="focus"
                               data-content="Nie masz uprawnień do wybranego modułu!">
                                <i class="fa fa-desktop fa-4x"></i>
                                <span>Komputery</span>
                                <span class="label label-default">{{ statistic.computerCount }}</span>
                            </a>
                            <a class="quick-btn" href="#"
                               data-toggle="popover" title="Uwaga" data-trigger="focus"
                               data-content="Nie masz uprawnień do wybranego modułu!">
                                <i class="fa fa-laptop fa-4x"></i>
                                <span>Laptopy</span>
                                <span class="label label-danger">{{ statistic.laptopCount }}</span>
                            </a>
                            <a class="quick-btn" href="#"
                               data-toggle="popover" title="Uwaga" data-trigger="focus"
                               data-content="Nie masz uprawnień do wybranego modułu!">
                                <i class="fa fa-server fa-4x"></i>
                                <span>Serwery</span>
                                <span class="label label-danger">10</span>
                            </a>
                            <a class="quick-btn" href="#"
                               data-toggle="popover" title="Uwaga" data-trigger="focus"
                               data-content="Nie masz uprawnień do wybranego modułu!">
                                <i class="fas fa-network-wired fa-4x"></i>
                                <span>Sieciowe</span>
                                <span class="label label-success">{{ statistic.networkDeviceCount }}</span>
                            </a>
                        {% endif %}
                        <a class="quick-btn" href="{{ path('phone_index') }}">
                            <i class="fa fa-mobile-alt fa-4x"></i>
                            <span>Telefony</span>
                            <span class="label label-warning">{{ statistic.phoneCount }}</span>
                        </a>
                        <a class="quick-btn" href="{{ path('tablet_index') }}">
                            <i class="fa fa-tablet-alt fa-4x"></i>
                            <span>Tablety</span>
                            <span class="label btn-metis-2">{{ statistic.tabletCount }}</span>
                        </a>
                        <a class="quick-btn" href="{{ path('printer_index') }}">
                            <i class="fa fa-print fa-4x"></i>
                            <span>Drukarki</span>
                            <span class="label btn-metis-4">{{ statistic.printerCount }}</span>
                        </a>
                        <a class="quick-btn" href="{{ path('sim_index') }}">
                            <i class="fas fa-sim-card fa-4x"></i>
                            <span>Karty SIM</span>
                            <span class="label btn-metis-4">{{ statistic.simCount }}</span>
                        </a>
                        <a class="quick-btn" href="{{ path('user_index') }}">
                            <i class="fa fa-user fa-4x"></i>
                            <span>Użytkownicy</span>
                            <span class="label btn-metis-3">{{ statistic.userCount }}</span>
                        </a>

                    </div>
                    <hr>
                    <div class="text-center">
                        <ul class="stats_box">
                            <li>
                                {% block widget %}
                                    {{ include('widgets/weather.html.twig') }}


                                {% endblock %}

                            </li>
                            {#<li>#}
                            {#{{ include('widgets/info.html.twig') }}#}
                            {#</li>#}
                        </ul>
                    </div>

                </div>
                <!-- /.inner -->
            </div>
            <!-- /.outer -->
        </div>
        <!-- /#content -->
        <div id="right" class="bg-light lter">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Warning!</strong> Best check yo self, you're not looking too good.
            </div>
            <!-- .well well-small -->
            <div class="well well-small dark">
                <ul class="list-unstyled">
                    <li>Visitor <span class="inlinesparkline pull-right">1,4,4,7,5,9,10</span></li>
                    <li>Online Visitor <span class="dynamicsparkline pull-right">Loading..</span></li>
                    <li>Popularity <span class="dynamicbar pull-right">Loading..</span></li>
                    <li>New Users <span class="inlinebar pull-right">1,3,4,5,3,5</span></li>
                </ul>
            </div>
            <!-- /.well well-small -->
            <!-- .well well-small -->
            <div class="well well-small dark">
                <button class="btn btn-block">Default</button>
                <button class="btn btn-primary btn-block">Primary</button>
                <button class="btn btn-info btn-block">Info</button>
                <button class="btn btn-success btn-block">Success</button>
                <button class="btn btn-danger btn-block">Danger</button>
                <button class="btn btn-warning btn-block">Warning</button>
                <button class="btn btn-inverse btn-block">Inverse</button>
                <button class="btn btn-metis-1 btn-block">btn-metis-1</button>
                <button class="btn btn-metis-2 btn-block">btn-metis-2</button>
                <button class="btn btn-metis-3 btn-block">btn-metis-3</button>
                <button class="btn btn-metis-4 btn-block">btn-metis-4</button>
                <button class="btn btn-metis-5 btn-block">btn-metis-5</button>
                <button class="btn btn-metis-6 btn-block">btn-metis-6</button>
            </div>
            <!-- /.well well-small -->
            <!-- .well well-small -->
            <div class="well well-small dark">
                <span>Default</span><span class="pull-right"><small>20%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                </div>
                <span>Success</span><span class="pull-right"><small>40%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-success" style="width: 40%"></div>
                </div>
                <span>warning</span><span class="pull-right"><small>60%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
                </div>
                <span>Danger</span><span class="pull-right"><small>80%</small></span>

                <div class="progress xs">
                    <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
                </div>
            </div>
        </div>
        <!-- /#right -->
    </div>
    <!-- /#wrap -->

    <!--jQuery -->
    <script src="assets/lib/jquery/jquery.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.5/fullcalendar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.18.4/js/jquery.tablesorter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>

    <!--Bootstrap -->
    <script src="assets/lib/bootstrap/js/bootstrap.js"></script>
    <!-- MetisMenu -->
    <script src="assets/lib/metismenu/metisMenu.js"></script>
    <!-- Screenfull -->
    <script src="assets/lib/screenfull/screenfull.js"></script>


    <!-- Metis core scripts -->
    <script src="assets/js/core.js"></script>
    <!-- Metis demo scripts -->
    <script src="assets/js/app.js"></script>

    <script>
        $(function () {
            Metis.dashboard();
        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script src="assets/js/style-switcher.js"></script>
    <style>
        /* Popover */
        .popover {
            border: 3px #d9534f;
        }

        /* Popover Header */
        .popover-title {
            background-color: #d9534f;
            color: #f9f9f9;
            font-size: 16px;
            text-align: center;
        }

        /* Popover Body */
        .popover-content {
            background-color: #f9f9f9;
            color: #d9534f;
            padding: 16px;
        }

        /* Popover Arrow */
        .arrow {
            /*border-right-color: red !important;*/
        }
    </style>

    <script src="assets/js/style-switcher.js"></script>
    </body>

{% endblock %}