{% extends 'base.html.twig' %}

{% block title %} Podzespoły bazowe desktopa {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('computer_type_index', { 'type' : computer.formFactor }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
            <a href="{{ path('computer_show', {'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż destkop</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- .col-lg-6 -->
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-cogs"></i></div>
                            <h5>Podzespoły bazowe</h5>

                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#condensedTable2" data-toggle="collapse"
                                       class="btn btn-default btn-sm minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>
                        <div id="condensedTable2" class="body collapse in">
                            <table class="table table-condensed responsive-table">

                                <tbody>
                                <tr>
                                    <th>Procesor</th>
                                    <td>{% if computer.cpu is not null %}
                                            {{ computer.cpu.name }} {{ computer.cpu.baseFrequency }} GHz {{ computer.cpu.sockets }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm control-label"
                                                data-toggle="modal"
                                                data-target="#cpus">
                                            <i class="fa fa-retweet "></i>
                                            Zmień
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Ram</th>

                                    <td>
                                        {% if computer.ramslots is empty %}
                                            Brak
                                        {% else %}
                                            <table class="table table-condensed responsive-table">
                                                {% for ramslot in computer.ramslots %}
                                                    <tr>
                                                        <td>
                                                            {{ ramslot.ram.capacity }} GB - {{ ramslot.ram.name }}
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="{{ path('computer_remove_ram', {'type' : computer.formFactor, 'id': computer.id , 'ramslot': ramslot.id }) }}"
                                                               class="btn btn-danger btn-grad btn-sm">
                                                                <i class="fa fa-times "></i>
                                                                <span class="link-title">Wymontuj</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        {% endif %}
                                    </td>
                                    <th>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm"
                                                data-toggle="modal"
                                                data-target="#rams">
                                            <i class="fa fa-plus "></i>
                                            Dodaj
                                        </button>
                                    </th>
                                </tr>
                                <tr>
                                    <th>GPU</th>
                                    <td>
                                        {% if computer.pciInterfaces is empty %}
                                            Brak
                                        {% else %}
                                            <table class="table table-condensed responsive-table">
                                                <tbody>
                                                {% for pciInterface in computer.pciInterfaces %}
                                                    <tr>
                                                        <td>
                                                            {{ pciInterface.CardGpu.name }}
                                                            - {{ pciInterface.CardGpu.formFactor }}
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="{{ path('computer_remove_gpu', {'type' : computer.formFactor, 'id': computer.id , 'interfacePci': pciInterface.id }) }}"
                                                               class="btn btn-danger btn-grad btn-sm">
                                                                <i class="fa fa-times "></i>
                                                                <span class="link-title">Wymontuj</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm control-label"
                                                data-toggle="modal"
                                                data-target="#gpus">
                                            <i class="fa fa-plus "></i>
                                            Dodaj
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>HDD</th>
                                    <td>
                                        {% set empty = 1 %}
                                        {% for storageController in computer.storageControllers %}
                                            {% if storageController.hdd is not null %}
                                                <table class="table table-condensed">
                                                    <tbody>
                                                    {% set empty = 0 %}
                                                    <tr>
                                                        <td>
                                                            {{ storageController.hdd.capacity }} GB
                                                            - {{ storageController.hdd.name }}
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="{{ path('computer_remove_hdd', {'type' : computer.formFactor, 'id': computer.id , 'storageController': storageController.id }) }}"
                                                               class="btn btn-danger btn-grad btn-sm">
                                                                <i class="fa fa-times "></i>
                                                                <span class="link-title">Wymontuj</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        {% endfor %}
                                        {% if empty == 1 %}
                                            Brak dysku hdd
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm control-label"
                                                data-toggle="modal"
                                                data-target="#hdds">
                                            <i class="fa fa-plus "></i>
                                            Dodaj
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>SSD</th>
                                    <td>
                                        {% set empty = 1 %}
                                        {% for storageController in computer.storageControllers %}

                                            {% if storageController.ssd is not null %}
                                                <table class="table table-condensed responsive-table">
                                                    <tbody>
                                                    {% set empty = 0 %}
                                                    <tr>
                                                        <td>
                                                            {{ storageController.ssd.capacity }} GB
                                                            - {{ storageController.ssd.name }}
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="{{ path('computer_remove_ssd', {'type' : computer.formFactor, 'id': computer.id , 'storageController': storageController.id }) }}"
                                                               class="btn btn-danger btn-grad btn-sm">
                                                                <i class="fa fa-times "></i>
                                                                <span class="link-title">Wymontuj</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        {% endfor %}
                                        {% if empty == 1 %}
                                            Brak dysku ssd
                                        {% endif %}

                                    </td>
                                    <td>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm control-label"
                                                data-toggle="modal"
                                                data-target="#ssds">
                                            <i class="fa fa-plus "></i>
                                            Dodaj
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Napęd</th>
                                    <td>
                                        {% set empty = 1 %}
                                        {% for storageController in computer.storageControllers %}

                                            {% if storageController.opticalDrive is not null %}
                                                <table class="table table-condensed responsive-table">
                                                    <tbody>
                                                    {% set empty = 0 %}
                                                    <tr>
                                                        <td>
                                                            {{ storageController.opticalDrive.name }}
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="{{ path('computer_remove_drive', {'type' : computer.formFactor, 'id': computer.id , 'storageController': storageController.id }) }}"
                                                               class="btn btn-danger btn-grad btn-sm">
                                                                <i class="fa fa-times "></i>
                                                                <span class="link-title">Wymontuj</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            {% endif %}
                                        {% endfor %}
                                        {% if empty == 1 %}
                                            Brak napędów
                                        {% endif %}
                                    </td>
                                    <th>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm control-label"
                                                data-toggle="modal"
                                                data-target="#drives">
                                            <i class="fa fa-plus "></i>
                                            Dodaj
                                        </button>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Zasilacz</th>
                                    <td>{% if computer.powerSupply is not null %}
                                            {{ computer.powerSupply.name }} {{ computer.powerSupply.powerInWatt }}&nbspW
                                        {% else %}
                                            Brak zasilacza
                                        {% endif %}
                                    </td>
                                    <th>
                                        <!-- Przycisk uruchamiający modal -->
                                        <button class="btn btn-primary btn-grad btn-sm control-label"
                                                data-toggle="modal"
                                                data-target="#powersupply">
                                            <i class="fa fa-retweet "></i>
                                            Zmień
                                        </button>
                                    </th>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /.col-lg-6 -->


                <!-- Modal cpus-->
                <div class="modal fade" id="cpus" tabindex="-1" role="dialog" aria-labelledby="cpusModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">


                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>

                                <h5 class="modal-title" id="cpusModalLabel">Wybierz procesor z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse4" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Nazwa</th>
                                                            <th>Producent</th>
                                                            <th>Taktowanie Bazowe</th>
                                                            <th>Rdzeni</th>
                                                            <th>Wątków</th>
                                                            <th>Gniazdo</th>
                                                            <th>Generacja</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for desktopCPU in desktopCPUs %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_cpu', { 'type' : computer.formFactor, 'id': computer.id,  'desktopCpu': desktopCPU.id }) }}"'>
                                                                <td>{{ desktopCPU.id }}</td>
                                                                <td>{{ desktopCPU.name }}</td>
                                                                <td>{{ desktopCPU.manufacturer }}</td>
                                                                <td>{{ desktopCPU.baseFrequency }} GHz</td>
                                                                <td>{{ desktopCPU.numberOfCores }}</td>
                                                                <td>{{ desktopCPU.numberOfThreads }}</td>
                                                                <td>{{ desktopCPU.sockets }}</td>
                                                                <td>{{ desktopCPU.generation }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('desktopcpu_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal rams-->
                <div class="modal fade" id="rams" tabindex="-1" role="dialog" aria-labelledby="ramssModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>
                                <h5 class="modal-title" id="ramsModalLabel">Wybierz pamięć ram z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse5" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazwa</th>
                                                            <th>Model</th>
                                                            <th>Seria</th>
                                                            <th>Producent</th>
                                                            <th>Pojemność w Gb</th>
                                                            <th>Typ</th>
                                                            <th>Taktowanie</th>
                                                            <th>CAS opóźnienie</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for desktopRam in desktopRams %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_ram', { 'type' : computer.formFactor, 'id': computer.id,  'ram': desktopRam.id }) }}"'>
                                                                <td>{{ desktopRam.name }}</td>
                                                                <td>{{ desktopRam.model }}</td>
                                                                <td>{{ desktopRam.series }}</td>
                                                                <td>{{ desktopRam.brand }}</td>
                                                                <td>{{ desktopRam.capacity }} GB</td>
                                                                <td>{{ desktopRam.type }}</td>
                                                                <td>{{ desktopRam.busSpeed }}</td>
                                                                <td>CL{{ desktopRam.casLatency }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('desktopram_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal gpus-->
                <div class="modal fade" id="gpus" tabindex="-1" role="dialog" aria-labelledby="gpusModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>
                                <h5 class="modal-title" id="gpusModalLabel">Wybierz kartę graficzną z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse4" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazwa</th>
                                                            <th>Chipset</th>
                                                            <th>Seria</th>
                                                            <th>Marka</th>
                                                            <th>Pamięć</th>
                                                            <th>Typ pamięci</th>
                                                            <th>Porty</th>
                                                            <th>Typ grafiki</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for gpu in gpus %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_gpu', { 'type' : computer.formFactor, 'id': computer.id,  'gpu': gpu.id }) }}"'>
                                                                <td>{{ gpu.name }}</td>
                                                                <td>{{ gpu.chipset }}</td>
                                                                <td>{{ gpu.series }}</td>
                                                                <td>{{ gpu.brand }}</td>
                                                                <td>{{ gpu.memorySize }}</td>
                                                                <td>{{ gpu.memoryType }}</td>
                                                                <td>{{ gpu.compatiableSlotPort }}</td>
                                                                <td>{{ gpu.formFactor }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('gpu_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal hdds-->
                <div class="modal fade" id="hdds" tabindex="-1" role="dialog" aria-labelledby="hddsModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>
                                <h5 class="modal-title" id="hddsModalLabel">Wybierz dysk hdd z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse4" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazwa</th>
                                                            <th>Model</th>
                                                            <th>Seria</th>
                                                            <th>Producent</th>
                                                            <th>Pojemność GB</th>
                                                            <th>Format</th>
                                                            <th>Interfejs</th>
                                                            <th>Prędkość obrotowa rpm</th>
                                                            <th>Cache MB</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for hdd in hdds %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_hdd', { 'type' : computer.formFactor, 'id': computer.id,  'hdd': hdd.id }) }}"'>
                                                                <td>{{ hdd.name }}</td>
                                                                <td>{{ hdd.model }}</td>
                                                                <td>{{ hdd.series }}</td>
                                                                <td>{{ hdd.brand }}</td>
                                                                <td>{{ hdd.capacity }}</td>
                                                                <td>{{ hdd.formFactor }}</td>
                                                                <td>{{ hdd.interface }}</td>
                                                                <td>{{ hdd.rotationSpeedRpm }}</td>
                                                                <td>{{ hdd.cache }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('hdd_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal ssds-->
                <div class="modal fade" id="ssds" tabindex="-1" role="dialog" aria-labelledby="ssdsModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>
                                <h5 class="modal-title" id="ssdsModalLabel">Wybierz dysk SSD z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse4" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazwa</th>
                                                            <th>Model</th>
                                                            <th>Seria</th>
                                                            <th>Producent</th>
                                                            <th>Pojemność GB</th>
                                                            <th>Format</th>
                                                            <th>Interfejs</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for ssd in ssds %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_ssd', { 'type' : computer.formFactor, 'id': computer.id,  'ssd': ssd.id }) }}"'>
                                                                <td>{{ ssd.name }}</td>
                                                                <td>{{ ssd.model }}</td>
                                                                <td>{{ ssd.series }}</td>
                                                                <td>{{ ssd.brand }}</td>
                                                                <td>{{ ssd.capacity }}</td>
                                                                <td>{{ ssd.formFactor }}</td>
                                                                <td>{{ ssd.interface }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('ssd_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal drives-->
                <div class="modal fade" id="drives" tabindex="-1" role="dialog" aria-labelledby="drivesModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>
                                <h5 class="modal-title" id="drivesModalLabel">Wybierz napęd optyczny z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse4" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazwa</th>
                                                            <th>Model</th>
                                                            <th>Seria</th>
                                                            <th>Producent</th>
                                                            <th>Typ</th>
                                                            <th>Interfejs</th>
                                                            <th>Rozmiar</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for opticalDrive in opticalDrives %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_drive', { 'type' : computer.formFactor, 'id': computer.id,  'opticalDrive': opticalDrive.id }) }}"'>
                                                                <td>{{ opticalDrive.name }}</td>
                                                                <td>{{ opticalDrive.model }}</td>
                                                                <td>{{ opticalDrive.series }}</td>
                                                                <td>{{ opticalDrive.brand }}</td>
                                                                <td>{{ opticalDrive.type }}</td>
                                                                <td>{{ opticalDrive.interface }}</td>
                                                                <td>{{ opticalDrive.factoryFormat }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('opticaldrive_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal power supply-->
                <div class="modal fade" id="powersupply" tabindex="-1" role="dialog"
                     aria-labelledby="powersupplyModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">


                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span>
                                </button>

                                <h5 class="modal-title" id="powersupplyModalLabel">Wybierz zasilacz z listy</h5>
                            </div>
                            <div class="modal-body">
                                <div id="div-1" class="body">
                                    <!--Begin Datatables-->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="box">
                                                <div id="collapse4" class="body">
                                                    <table
                                                            class="datatable table table-bordered table-condensed table-hover table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Nazwa</th>
                                                            <th>Model</th>
                                                            <th>Seria</th>
                                                            <th>Marka</th>
                                                            <th>Typ</th>
                                                            <th>Chłodzenie</th>
                                                            <th>Moc (Wat)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for powerSupply in powerSupplies %}
                                                            <tr onclick='location.href = "{{ path('computer_connect_powersupply', { 'type' : computer.formFactor, 'id': computer.id,  'powerSupply': powerSupply.id }) }}"'>
                                                                <td>{{ powerSupply.name }}</td>
                                                                <td>{{ powerSupply.model }}</td>
                                                                <td>{{ powerSupply.series }}</td>
                                                                <td>{{ powerSupply.brand }}</td>
                                                                <td>
                                                                    {% if powerSupply.type == "inside" %}
                                                                        wewnętrzny
                                                                    {% elseif powerSupply.type == "outside" %}
                                                                        zewnętrzny
                                                                    {% else %}
                                                                        nieokreślony
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {% if powerSupply.cooling == "none" %}
                                                                        brak
                                                                    {% elseif powerSupply.cooling == "active" %}
                                                                        aktywne
                                                                    {% elseif powerSupply.cooling == "passive" %}
                                                                        pasywne
                                                                    {% else %}
                                                                        nieokreślony
                                                                    {% endif %}
                                                                </td>
                                                                <td>{{ powerSupply.powerInWatt }}&nbspWat</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                    <!--End Datatables-->
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('powersupply_new', {'computer' : computer.id}) }}"
                                       class="btn btn-warning btn-grad control-label">
                                        <i class="fa fa-plus"></i>
                                        <span>Dodaj nowy</span>
                                    </a>
                                    <button type="button" class="btn btn-primary btn-grad control-label"
                                            data-dismiss="modal">Zamknij
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
