{% extends 'base.html.twig' %}

{% block title %} Podzespoły bazowe desktopa {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('desktop_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-fast-backward"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
            <a href="{{ path('desktop_show', { 'id': desktop.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż destkop</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
<!-- /#left -->
<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            <!-- .col-lg-6 -->
            <div class="col-lg-8">
                <div class="box">
                    <header>
                        <div class="icons"><i class="fa fa-cogs"></i></div>
                        <h5>Podzespoły bazowe</h5>

                        <div class="toolbar">
                            <div class="btn-group">
                                <a href="#condensedTable2" data-toggle="collapse"
                                   class="btn btn-default btn-sm minimize-box">
                                    <i class="fa fa-angle-up"></i>
                                </a>
                                <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </header>
                    <div id="condensedTable2" class="body collapse in">
                        <table class="table table-condensed responsive-table">

                            <tbody>
                            <tr>
                                <td><span class="fa fa-microchip"></span> Procesor</td>
                                <td>{% if desktop.cpu is not null %}
                                        {{ desktop.cpu.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Przycisk uruchamiający modal -->
                                    <button class="btn btn-primary btn-grad btn-sm control-label" data-toggle="modal"
                                            data-target="#cpus">
                                        Zmień
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ram</td>

                                <td>
                                    {% if desktop.ramslots is empty %}
                                        Brak
                                    {% else %}
                                        {% for ramslot in desktop.ramslots %}
                                            {{ ramslot.ram.capacity }} GB - {{ ramslot.ram.name }}
                                            <a href="{{ path('desktop_remove_ram', {'id': desktop.id , 'ramslot': ramslot.id }) }}"
                                               class="btn btn-danger btn-grad btn-rect btn-sm">
                                                <i class="fa fa-times "></i>
                                                <span class="link-title">Wymontuj</span>
                                            </a><br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Przycisk uruchamiający modal -->
                                    <button class="btn btn-primary btn-grad btn-sm control-label" data-toggle="modal"
                                            data-target="#rams">
                                        Zmień
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>GPU</td>
                                <td>brak</td>
                                <td>
                                    <!-- Przycisk uruchamiający modal -->
                                    <button class="btn btn-primary btn-grad btn-sm control-label" data-toggle="modal"
                                            data-target="#cpus">
                                        Zmień
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>HDD</td>
                                <td>
                                    {% if desktop.hdds is empty %}
                                        Brak
                                    {% else %}
                                        {% for hdd in desktop.hdds %}
                                            {{ hdd.capacity }} GB - {{ hdd.name }}</br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Przycisk uruchamiający modal -->
                                    <button class="btn btn-primary btn-grad btn-sm control-label" data-toggle="modal"
                                            data-target="#hdds">
                                        Zmień
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>SSD</td>
                                <td>
                                    {% if desktop.ssds is empty %}
                                        Brak
                                    {% else %}
                                        {% for ssd in desktop.ssds %}
                                            {{ ssd.capacity }} GB - {{ ssd.name }}</br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Przycisk uruchamiający modal -->
                                    <button class="btn btn-primary btn-grad btn-sm control-label" data-toggle="modal"
                                            data-target="#ssds">
                                        Zmień
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Napęd</td>
                                <td>
                                    {% if desktop.drives is empty %}
                                        Brak
                                    {% else %}
                                        {% for drive in desktop.drives %}
                                            {{ drive.name }}</br>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Przycisk uruchamiający modal -->
                                    <button class="btn btn-primary btn-grad btn-sm control-label" data-toggle="modal"
                                            data-target="#drives">
                                        Zmień
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Zasilacz</td>
                                <td>{{ desktop.powerSupply }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- /.col-lg-6 -->


            <!-- Modal cpus-->
            <div class="modal fade" id="cpus" tabindex="-1" role="dialog" aria-labelledby="cpusModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                            <h5 class="modal-title" id="cpusModalLabel">Wybierz procesor z listy</h5>
                        </div>
                        <div class="modal-body">
                            <div id="div-1" class="body">
                                <!--Begin Datatables-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="box">
                                            <header>
                                                <div class="icons"><i class="fa fa-desktop"></i></div>
                                                <h5>Lista komputerów</h5>
                                            </header>
                                            <div id="collapse4" class="body">
                                                <table id="dataTable"
                                                       class="table table-bordered table-condensed table-hover table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nazwa</th>
                                                        <th>Producent</th>
                                                        <th>Taktowanie Bazowe</th>
                                                        <th>Rdzeni</th>
                                                        <th>Wątków</th>
                                                        <th>Gniazdo</th>
                                                        <th>Generacja</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for desktopCPU in desktopCPUs %}
                                                        <tr onclick='location.href = "{{ path('desktop_connect_cpu', { 'id': desktop.id,  'desktopCpu': desktopCPU.id }) }}"'>
                                                            <td>{{ desktopCPU.id }}</td>
                                                            <td>{{ desktopCPU.name }}</td>
                                                            <td>{{ desktopCPU.manufacturer }}</td>
                                                            <td>{{ desktopCPU.baseFrequency }} GHz</td>
                                                            <td>{{ desktopCPU.numberOfCores }}</td>
                                                            <td>{{ desktopCPU.numberOfThreads }}</td>
                                                            <td>{{ desktopCPU.sockets }}</td>
                                                            <td>{{ desktopCPU.generation }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!--End Datatables-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-grad control-label"
                                        data-dismiss="modal">Zamknij
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal rams-->
            <div class="modal fade" id="rams" tabindex="-1" role="dialog" aria-labelledby="ramssModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Zamknij</span></button>
                            <h5 class="modal-title" id="ramsModalLabel">Wybierz procesor z listy</h5>
                        </div>
                        <div class="modal-body">
                            <div id="div-1" class="body">
                                <!--Begin Datatables-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="box">
                                            <header>
                                                <div class="icons"><i class="fa fa-desktop"></i></div>
                                                <h5>Lista komputerów</h5>
                                            </header>
                                            <div id="collapse4" class="body">
                                                <table id="dataTable"
                                                       class="table table-bordered table-condensed table-hover table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>Nazwa</th>
                                                        <th>Model</th>
                                                        <th>Seria</th>
                                                        <th>Producent</th>
                                                        <th>Pojemność w Gb</th>
                                                        <th>Typ</th>
                                                        <th>Taktowanie</th>
                                                        <th>CAS opóźnienie</th>
                                                    </thead>
                                                    <tbody>
                                                    {% for desktopRam in desktopRams %}
                                                        <tr onclick='location.href = "{{ path('desktop_connect_ram', { 'id': desktop.id,  'ram': desktopRam.id }) }}"'>

                                                            <td>{{ desktopRam.name }}</td>
                                                            <td>{{ desktopRam.model }}</td>
                                                            <td>{{ desktopRam.series }}</td>
                                                            <td>{{ desktopRam.brand }}</td>
                                                            <td>{{ desktopRam.capacity }} GB</td>
                                                            <td>{{ desktopRam.type }}</td>
                                                            <td>{{ desktopRam.busSpeed }}</td>
                                                            <td>CL{{ desktopRam.casLatency }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <!--End Datatables-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-grad control-label"
                                        data-dismiss="modal">Zamknij
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endblock %}
