{% extends 'base.html.twig' %}

{% block title %} Edycja desktopa {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('desktop_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-fast-backward"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
            <a href="{{ path('desktop_show', { 'id': desktop.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż destkop</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}
{% block body %}
    <h1>Desktop edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('desktop_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
