{% extends 'base.html.twig' %}

{% block title %} Edycja desktopa {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('desktop_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-fast-backward"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
            <a href="{{ path('desktop_show', { 'id': desktop.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż destkop</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Edytuj komputer typu desktop</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(edit_form.name, 'Nazwa komputera', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.model, 'Model', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.model, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź model'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.type, 'Typ', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.type, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.manufacturer, 'Producent', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.manufacturer, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź producenta'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.hdds, 'Dysk HDD', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.hdds, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź Dysk HDD'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.ssds, 'Dysk SSD', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.ssds, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź Dysk SSD'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.drives, 'Napęd optyczny', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.drives, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź napęd CD-ROM / DVD ROM'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.powerSupply, 'Zasilacz', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.powerSupply, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź tym i moc zasilacza'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.caseType, 'Rodzaj obudowy', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.caseType, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ obudowy'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.os, 'System operacyjny', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.os, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź zainstalowany system'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.ipAddress, 'Przydzielony adres ip', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.ipAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź adres ip przydzielony'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.macAddress, 'MAC adres karty sieciowej', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.macAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź MAC adres'} }) }}
                                    </div>
                                </div>


                                <div class="form-group">
                                    {{ form_label(edit_form.price, 'Przydzielony adres ip', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.price, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź adres ip przydzielony'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.purchaseDate, 'Data zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-3">
                                        {{ form_widget(edit_form.purchaseDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <input type="submit" value="Zapisz zmiany"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>


                    <!----------------------------------------------------->


                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}
