{% extends 'base.html.twig' %}

{% block title %} Dodaj komputer{% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('computer_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nowy komputer typu desktop</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(form.name, 'Nazwa komputera', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.model, 'Model', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.model, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź model'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.series, 'Nr seryjny', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.series, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź serię'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.brand, 'Producent', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.brand, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź producenta'} }) }}
                                    </div>
                                </div>


                                {#<div class="form-group" >#}
                                {#{{ form_label(form.powerSupply, 'Zasilacz', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}#}
                                {#<div class="col-lg-6">#}
                                {#{{ form_widget(form.powerSupply, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź tym i moc zasilacza'} }) }}#}
                                {#</div>#}
                                {#</div>#}

                                <div class="form-group">
                                    {{ form_label(form.caseType, 'Rodzaj obudowy', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.caseType, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź typ obudowy'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.os, 'System operacyjny', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.os, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź zainstalowany system'} }) }}
                                    </div>
                                </div>

                                {#<div class="form-group" >#}
                                {#{{ form_label(form.ipAddress, 'Przydzielony adres ip', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}#}
                                {#<div class="col-lg-6">#}
                                {#{{ form_widget(form.ipAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź adres ip przydzielony'} }) }}#}
                                {#</div>#}
                                {#</div>#}

                                {#<div class="form-group" >#}
                                {#{{ form_label(form.macAddress, 'MAC adres karty sieciowej', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}#}
                                {#<div class="col-lg-6">#}
                                {#{{ form_widget(form.macAddress, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź MAC adres'} }) }}#}
                                {#</div>#}
                                {#</div>#}



                                <div class="form-group">
                                    {{ form_label(form.price, 'Cena zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-4">
                                        {{ form_widget(form.price, { 'attr': {'class': 'form-control' } , 'type':'number'}) }}
                                    </div>
                                </div>



                                <div class="form-group">
                                    {{ form_label(form.purchaseDate, 'Data zakupu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-6">
                                        {{ form_widget(form.purchaseDate, { 'attr': {'class': 'form-control js-datepicker'} }) }}
                                    </div>
                                </div>

                                <input type="submit" value="Dodaj nowy komputer"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>


                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}