{% extends 'base.html.twig' %}

{% block title %} Desktop {% endblock %}


{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('desktop_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
            <a href="{{ path('desktop_edit', { 'id': desktop.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-wrench"></i>
                <span class="link-title">Edytuj</span>
            </a>
            <a href="{{ path('desktop_components', { 'id': desktop.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-cogs"></i>
                <span class="link-title">Podzespoły bazowe</span>
            </a>
            <a href="{{ path('desktop_photo', { 'id': desktop.id }) }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-file-photo-o"></i>
                <span class="link-title">Zdjęcie</span>
            </a>
            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-metis-5 btn-grad btn-rect btn-lg inline"><i
                            class="fa fa-trash"></i> Usuń
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane identyfikacyjne</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Nazwa</td>
                                        <td>{{ desktop.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                        <td>{{ desktop.model }}</td>
                                    </tr>
                                    <tr>
                                        <td>Producent</td>
                                        <td>{{ desktop.manufacturer }}</td>
                                    </tr>
                                    <tr>
                                        <td>Obudowa</td>
                                        <td>{{ desktop.caseType.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nr seryjny</td>
                                        <td>ERER0-FDSF-DFDF-DF3</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-photo"></i></div>
                                <h5>Zdjęcia</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>
                                            {% for picture in desktop.pictures %}
                                                <a href="{{ asset('pictures/' ~ picture.file) }}">
                                                    <img src="{{ asset('pictures/' ~ picture.file) }}" alt="Desktop"
                                                         height="200" width="200">
                                                </a>
                                            {% else %}
                                                {% set picture = "default.png" %}
                                                <a href="{{ asset('pictures/' ~ picture) }}">
                                                    <img src="{{ asset('pictures/' ~ picture) }}" alt="Desktop"
                                                         height="200" width="200">
                                                </a>
                                            {% endfor %}
                                        </td>
                                        Kliknij aby powiększyć
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->


                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Podzespoły bazowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable2" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable2" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td><span class="fa fa-microchip"></span> Procesor</td>
                                        <td>{% if desktop.cpu is not null %}
                                                {{ desktop.cpu.name }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ram</td>
                                        <td>
                                            {% if desktop.rams is empty %}
                                                Brak
                                            {% else %}
                                                {% for ram in desktop.rams %}
                                                    {{ ram.capacity }} GB - {{ ram.name }}</br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>GPU</td>
                                        <td>brak</td>
                                    </tr>
                                    <tr>
                                        <td>HDD</td>
                                        <td>
                                            {% if desktop.hdds is empty %}
                                                Brak
                                            {% else %}
                                                {% for hdd in desktop.hdds %}
                                                    {{ hdd.capacity }} GB - {{ hdd.name }}</br>
                                                {% endfor %}
                                            {% endif %}
                                        </td
                                    </tr>
                                    <tr>
                                        <td>SSD</td>
                                        <td>
                                            {% if desktop.ssds is empty %}
                                                Brak
                                            {% else %}
                                                {% for ssd in desktop.ssds %}
                                                    {{ ssd.capacity }} GB - {{ ssd.name }}</br>
                                                {% endfor %}
                                            {% endif %}
                                        </td
                                    </tr><tr>
                                        <td>Napęd</td>
                                        <td>
                                            {% if desktop.drives is empty %}
                                                Brak
                                            {% else %}
                                                {% for drive in desktop.drives %}
                                                    {{ drive.name }}</br>
                                                {% endfor %}
                                            {% endif %}
                                        </td
                                    </tr>
                                    <tr>
                                        <td>Zasilacz</td>
                                        <td>{{ desktop.powerSupply }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane sieciowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable3" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable3" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Adres IP</td>
                                        <td>{{ desktop.ipAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>MAC Adres</td>
                                        <td>{{ desktop.macAddress }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nazwa sieciowa</td>
                                        <td>{{ desktop.name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane finansowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable4" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable4" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Data zakupu</td>
                                        <td>{{ desktop.purchaseDate |date("m/d/Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td>Data wprowadzenia</td>
                                        <td>{{ desktop.addDate |date("m/d/Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cena zakupu</td>
                                        <td>{{ desktop.price }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Licencje</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-info" data-toggle="collapse"
                                                data-target="#chose-license">Zmień <i class="fa fa-wrench"></i></button>
                                        <a href="#condensedTable5" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>


                            <div id="chose-license" class="collapse">

                                {{ form_start(license_form, { 'attr': {'class': 'form-wertical'}, 'action': path('desktop_connect_license', { 'id': desktop.id }) }) }}
                                <div class="form-group">
                                    {{ form_label(license_form.licenses, 'Wybierz licencję', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-6">
                                        {{ form_widget(license_form.licenses, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <input type="submit" value="Zapisz" class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(license_form) }}
                            </div>
                            <div id="condensedTable5" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Program</th>
                                        <th>Typ licencji</th>
                                        <th>Wygasa</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for license in desktop.licenses %}
                                        <tr>
                                            <td>{{ license.name }}</td>
                                            <td>{{ license.type }}</td>
                                            <td>{{ license.expireDate|date("m/d/Y") }}</td>
                                            <td>
                                                <a href="{{ path('desktop_detach_license', { 'id': desktop.id, 'license': license.id }) }}"
                                                   class="btn btn-danger btn-grad btn-rect btn-sm">
                                                    <i class="fa fa-unlink"></i>
                                                    <span class="link-title">odłącz</span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Pracownicy</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-info" data-toggle="collapse"
                                                data-target="#chose-employee">Zmień <i class="fa fa-wrench"></i>
                                        </button>
                                        <a href="#condensedTable6" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <header id="chose-employee" class="collapse">
                                {{ form_start(employee_form, { 'attr': {'class': 'form-wertical'}, 'action': path('desktop_connect_employee', { 'id': desktop.id }) }) }}
                                <div class="form-group">
                                    {{ form_label(employee_form.employees, 'Wybierz pracownika', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}

                                    <div class="col-lg-6">
                                        {{ form_widget(employee_form.employees, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>
                                <input type="submit" value="Zapisz" class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(employee_form) }}
                            </header>
                            <div id="condensedTable6" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                        <th>Stanowisko</th>
                                        <th>Dział
                                        <th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employee in desktop.employees %}
                                        <tr>
                                            <td>{{ employee.name }}</td>
                                            <td>{{ employee.surname }}</td>
                                            <td>{{ employee.job }}</td>
                                            <td>{{ employee.departament.name }}</td>
                                            <td>
                                                <a href="{{ path('desktop_detach_employee', { 'id': desktop.id, 'employee': employee.id }) }}"
                                                   class="btn btn-danger btn-grad btn-rect btn-sm">
                                                    <i class="fa fa-unlink"></i>
                                                    <span class="link-title">odłącz</span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}
