{% extends 'base.html.twig' %}

{% block title %} Desktop {% endblock %}


{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('computer_type_index', { 'type' : 'desktop'}) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista desktopów</span>
            </a>
            <a href="{{ path('computer_edit', { 'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-wrench"></i>
                <span class="link-title">Edytuj</span>
            </a>
            <a href="{{ path('computer_components', { 'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-cogs"></i>
                <span class="link-title">Podzespoły bazowe</span>
            </a>
            <a href="{{ path('computer_network', { 'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-sitemap"></i>
                <span class="link-title">Sieć</span>
            </a>
            <a href="{{ path('computer_photo', {'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-file-photo-o"></i>
                <span class="link-title">Zdjęcie</span>
            </a>
            <a href="{{ path('computer_employees', {'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-user"></i>
                <span class="link-title">Pracownicy</span>
            </a>
            <a href="{{ path('computer_licenses', {'type' : computer.formFactor, 'id': computer.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-file-text"></i>
                <span class="link-title">Licencje</span>
            </a>
            <div style="display: inline-block;">
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-metis-5 btn-grad btn-rect btn-lg inline delete-confirm"><i
                            class="fa fa-trash"></i> Usuń
                </button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane identyfikacyjne</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_edit', { 'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Nazwa</td>
                                        <td>{{ computer.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                        <td>{{ computer.model }}</td>
                                    </tr>
                                    <tr>
                                        <td>Producent</td>
                                        <td>{{ computer.brand }}</td>
                                    </tr>
                                    <tr>
                                        <td>Obudowa</td>
                                        <td>{{ computer.caseType.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Nr seryjny</td>
                                        <td>{{ computer.series }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-photo"></i></div>
                                <h5>Zdjęcia</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_photo', {'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>
                                            {% for picture in computer.pictures %}
                                                <a href="{{ asset('pictures/' ~ picture.file) }}">
                                                    <img src="{{ asset('pictures/' ~ picture.file) }}" alt="Desktop"
                                                         height="200" width="200">
                                                </a>
                                            {% else %}
                                                {% set picture = "default.png" %}
                                                <a href="{{ asset('pictures/' ~ picture) }}">
                                                    <img src="{{ asset('pictures/' ~ picture) }}" alt="Desktop"
                                                         height="200" width="200">
                                                </a>
                                            {% endfor %}
                                        </td>
                                        Kliknij aby powiększyć
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->


                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Podzespoły bazowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_components', { 'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable2" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable2" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Procesor</td>
                                        <td>{% if computer.cpu is not null %}
                                                {{ computer.cpu.name }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ram</td>
                                        <td>
                                            {% if computer.ramslots is empty %}
                                                Brak
                                            {% else %}
                                                {% for ramslot in computer.ramslots %}
                                                    {{ ramslot.ram.capacity }} GB - {{ ramslot.ram.name }}</br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>GPU</td>
                                        <td>
                                            {% if computer.pciInterfaces is empty %}
                                                Brak
                                            {% else %}
                                                {% for pciInterface in computer.pciInterfaces %}
                                                    {{ pciInterface.cardGpu.name }}</br>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>HDD</td>
                                        <td>
                                            {% set message = 'Brak dysku hdd' %}
                                            {% for storageController in computer.storageControllers %}
                                                {% if storageController.hdd is not null %}
                                                    {% set message = '' %}
                                                    {{ storageController.hdd.capacity }} GB - {{ storageController.hdd.name }}
                                                    </br>
                                                {% endif %}
                                            {% endfor %}
                                            {{ message }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>SSD</td>
                                        <td>
                                            {% set message = 'Brak dysku ssd' %}
                                            {% for storageController in computer.storageControllers %}
                                                {% if storageController.ssd is not null %}
                                                    {% set message = '' %}
                                                    {{ storageController.ssd.capacity }} GB - {{ storageController.ssd.name }}
                                                    </br>
                                                {% endif %}
                                            {% endfor %}
                                            {{ message }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Napęd</td>
                                        <td>
                                            {% set message = 'Brak napędu optycznego' %}
                                            {% for storageController in computer.storageControllers %}
                                                {% if storageController.opticalDrive is not null %}
                                                    {% set message = '' %}
                                                    {{ storageController.opticalDrive.name }}</br>
                                                {% endif %}
                                            {% endfor %}
                                            {{ message }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Zasilacz</td>
                                        <td>
                                            {% if computer.powerSupply is not null %}
                                                {{ computer.powerSupply.name }} - {{ computer.powerSupply.powerInWatt }}&nbspW
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane sieciowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_network', { 'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable3" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable3" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <tbody>
                                    <tr>
                                        <td>Nazwa sieciowa</td>
                                        <td>{{ computer.name }}</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <th>Adresy IP</th>
                                        <th>MAC Adresy</th>
                                    </tr>
                                    {% for nic in computer.networkInterfaceCards %}
                                        <tr>
                                            <td>{{ nic.macAddress }}</td>
                                            <td>{{ nic.ipv4 }}</td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="2">Brak zdefiniowanej karty sieciowej</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane finansowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_licenses', {'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable4" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable4" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <td>Data zakupu</td>
                                        <td>{{ computer.purchaseDate |date("m-d-Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td>Data wprowadzenia</td>
                                        <td>{{ computer.addDate |date("m-d-Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cena zakupu</td>
                                        <td>{{ computer.price }} PLN</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Licencje</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_licenses', {'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable5" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>

                            <div id="condensedTable5" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Program</th>
                                        <th>Typ licencji</th>
                                        <th>Wygasa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for license in computer.licenses %}
                                        <tr>
                                            <td>{{ license.name }}</td>
                                            <td>{{ license.type }}</td>
                                            <td>{{ license.expireDate|date("m-d-Y") }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Pracownicy</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('computer_employees', {'type' : computer.formFactor, 'id': computer.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable6" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable6" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                    <tr>
                                        <th>Imię</th>
                                        <th>Nazwisko</th>
                                        <th>Stanowisko</th>
                                        <th>Dział
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employee in computer.employees %}
                                        <tr>
                                            <td>{{ employee.name }}</td>
                                            <td>{{ employee.surname }}</td>
                                            <td>{{ employee.job }}</td>
                                            <td>{{ employee.departament.name }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
    <script>
        $('.delete-confirm').click(function () {
            return confirm('Na pewno chcesz usunąć ten komputer z systemu?')
        });
    </script>
{% endblock %}
