{% extends 'base.html.twig' %}

{% block title %} Desktop {% endblock %}

{% block body %}
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->

                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane identyfikacyjne</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td>Nazwa</td>
                                            <td>{{ desktop.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Model</td>
                                            <td>{{ desktop.model }}</td>
                                        </tr>
                                        <tr>
                                            <td>Producent</td>
                                            <td>{{ desktop.manufacturer }}</td>
                                        </tr>
                                        <tr>
                                            <td>Obudowa</td>
                                            <td>{{ desktop.caseType }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nr seryjny</td>
                                            <td>ERER0-FDSF-DFDF-DF3</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Parametry</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td><span class="fa fa-microchip"></span> Procesor</td>
                                            <td>{{ desktop.cpu }}</td>
                                        </tr>
                                        <tr>
                                            <td>Ram</td>
                                            <td>{{ desktop.ram }}</td>
                                        </tr>
                                        <tr>
                                            <td>GPU</td>
                                            <td>brak</td>
                                        </tr>
                                        <tr>
                                            <td>HDD</td>
                                            <td>{{ desktop.hdd }}</td>
                                        </tr>
                                        <tr>
                                            <td>SDD</td>
                                            <td>{{ desktop.ssd }}</td>
                                        </tr>
                                        <tr>
                                            <td>Napęd</td>
                                            <td>{{ desktop.drive }}</td>
                                        </tr>
                                        <tr>
                                            <td>Zasilacz</td>
                                            <td>{{ desktop.powerSupply }}</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane sieciowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td>Adres IP</td>
                                            <td>{{ desktop.ipAddress }}</td>
                                        </tr>
                                        <tr>
                                            <td>MAC Adres</td>
                                            <td>{{ desktop.macAddress }}</td>
                                        </tr>
                                        <tr>
                                            <td>Nazwa sieciowa</td>
                                            <td>{{ desktop.name }}</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane finansowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                        <tr>                                                    
                                            <td>Data zakupu</td>
                                            <td>{{ desktop.purchaseDate |date("m/d/Y") }}</td>
                                        </tr>
                                        <tr>
                                            <td>Data wprowadzenia</td>
                                            <td>{{ desktop.addDate |date("m/d/Y") }}</td>
                                        </tr>
                                        <tr>
                                            <td>Cena zakupu</td>
                                            <td>{{ desktop.price }}</td>
                                        </tr>
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Licencje</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Program</th>
                                            <th>Typ licencji</th>
                                            <th>Wygasa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for license in desktop.licenses %}
                                            <tr>                                                    
                                                <td>{{ license.name }}</td>
                                                <td>{{ license.type}}</td>
                                                <td>{{ license.expireDate|date("m/d/Y") }}</td>
                                            </tr>       
                                        {% endfor %}
                                       
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Pracownicy</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable" data-toggle="collapse" class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <thead>
                                        <tr>
                                            <th>Imię</th>
                                            <th>Nazwisko</th>
                                            <th>Stanowisko</th>
                                            <th>Dział<th>
                                        </tr>
                                    </thead>                                    
                                    <tbody>
                                        {% for employee in desktop.employees %}
                                            <tr>                                                    
                                                <td>{{ employee.name }}</td>
                                                <td>{{ employee.surname }}</td>
                                                <td>{{ employee.job }}</td>
                                                <td>{{ employee.departament.name }}</td>
                                            </tr>       
                                        {% endfor %}
                                        
                                    </tbody>                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}
