{% extends 'base.html.twig' %}

{% block title %} Karty SIM{% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('sim_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-down"></i>
                <span class="link-title">Lista kart SIM</span>
            </a>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('sim_new') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                    <i class="fa fa-plus"></i>
                    <span class="link-title">Dodaj</span>
                </a>
            {% endif %}
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


  {% block body %}

      <div id="content">
          <div class="outer">
              <div class="inner bg-light lter">
                  <!--Begin Datatables-->
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="box">
                              <header>
                                  <div class="icons"><i class="fas fa-sim-card"></i></div>
                                  <h5>Lista kart SIM</h5>
                              </header>
                              <div id="collapse4" class="body">
                                  <table id="dataTable"
                                         class="table table-bordered table-condensed table-hover table-striped">
                                      <thead>
                                      <tr>
                                          <th>Numer telefonu</th>
                                          <th>Status</th>
                                          <th>Pin</th>
                                          <th>Puk</th>
                                          <th>Abonament</th>
                                          <th>Operator</th>
                                          <th>Urządzenie</th>
                                          <th>Model</th>
                                          <th>Użytkownik</th>

                                      </thead>
                                      <tbody>
                                      {% for sim in sims %}
                                          <tr onclick='location.href = "{{ path('sim_show', { 'id': sim.id }) }}"'>
                                              <td>{{ sim.number }}</td>
                                              <td> {{ sim.status }}</td>
                                              <td>
                                                  {{ sim.pin }}
                                                  {#{% if sim.pin is not null %}#}
                                                      {#{% if sim.pin|length > 2 %}#}
                                                          {#{{ sim.pin|first }}#}
                                                          {#{% for i in 1..sim.pin|length -2 %}#}
                                                              {#{{ '*' }}#}
                                                          {#{% endfor %}#}
                                                          {#{{ sim.pin|last }}#}
                                                      {#{% endif %}#}
                                                  {#{% else %}#}
                                                      {#{{ sim.pin }}#}
                                                  {#{% endif %}#}
                                              </td>
                                              <td>
                                                  {{ sim.puk }}
                                                  {#{% if sim.puk is not null %}#}
                                                      {#{% if sim.puk|length > 2 %}#}
                                                          {#{{ sim.puk|first }}#}
                                                          {#{% for i in 1..sim.puk|length -2 %}#}
                                                              {#{{ '*' }}#}
                                                          {#{% endfor %}#}
                                                          {#{{ sim.puk|last }}#}
                                                      {#{% endif %}#}
                                                  {#{% else %}#}
                                                      {#{{ sim.puk }}#}
                                                  {#{% endif %}#}
                                              </td>
                                              <td class="text-right">{{ sim.monthlyfee|number_format(2, ',', ' ') }}&nbspzł</td>
                                              <td>{{ sim.operator }}</td>
                                              <td>
                                                  {% if sim.phone is not null %}
                                                      <span>telefon</span><br>
                                                  {% elseif sim.tablet is not null %}
                                                    <span>tablet</span><br>
                                                  {% endif %}
                                              </td>
                                              <td>
                                                  {% if sim.phone is not null %}
                                                      {{ sim.phone.name }}<br>
                                                  {% endif %}
                                                  {% if sim.tablet is not null %}
                                                      {{ sim.tablet.name }}<br>
                                                  {% endif %}
                                              </td>
                                              <td>
                                                  {% if sim.phone is not null %}
                                                      {% for user in sim.phone.users %}
                                                          {% if user is not null %}
                                                              {{ user.name }} {{ user.usersurname }}<br>
                                                          {% else %}
                                                              brak użytkownika<br>
                                                          {% endif %}

                                                      {% endfor %}
                                                  {% endif %}

                                                  {% if sim.tablet is not null %}
                                                      {% for user in sim.tablet.users %}
                                                          {% if user is not null %}
                                                              {{ user.name }} {{ user.usersurname }}<br>
                                                          {% else %}
                                                              brak użytkownika<br>
                                                          {% endif %}

                                                      {% endfor %}
                                                  {% endif %}

                                              </td>
                                          </tr>
                                      {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- /.row -->
                  <!--End Datatables-->

              </div>
              <!-- /.inner -->
          </div>
          <!-- /.outer -->
      </div>
      <!-- /#content -->
  {% endblock %}




