{% extends 'base.html.twig' %}

{% block title %} Dodaj nową kartę SIM {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('sim_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista kart SIM</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Dodaj nową kartę SIM</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(form.number, 'Numer telefonu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.number, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź naumer'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.pin, 'PIN', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.pin, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.puk, 'PUK', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.puk, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.pin2, 'PIN2', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.pin2, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.puk2, 'PUK2', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.puk2, { 'attr': {'class': 'form-control'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.operator, 'Operator', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(form.operator, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź operatora sieci'} }) }}
                                    </div>
                                </div>


                                <input type="submit" value="Dodaj kartę SIM"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}