{% extends 'base.html.twig' %}

{% block title %} Tablet {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('sim_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista kart SIM</span>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('sim_edit', { 'id': sim.id }) }}"
                   class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                    <i class="fa fa-wrench"></i>
                    <span class="link-title">Edytuj</span>
                </a>
                <div style="display: inline-block;">
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-metis-5 btn-grad btn-rect btn-lg inline"><i
                                class="fa fa-trash"></i> Usuń
                    </button>
                    {{ form_end(delete_form) }}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-list"></i></div>
                                <h5>Dane podstawowe</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">

                                    <tbody>
                                    <tr>
                                        <th>Numer telefonu</th>
                                        <td>{{ sim.number }}</td>
                                    </tr>
                                    <tr>
                                        <th>PIN</th>
                                        <td>{{ sim.pin }}</td>
                                    </tr>
                                    <tr>
                                        <th>PIN2</th>
                                        <td>{{ sim.pin2 }}</td>
                                    </tr>
                                    <tr>
                                        <th>PUK</th>
                                        <td>{{ sim.puk }}</td>
                                    </tr>
                                    <tr>
                                        <th>PUK2</th>
                                        <td>{{ sim.puk2 }}</td>
                                    </tr>
                                    <tr>
                                        <th>Operator komórkowy</th>
                                        <td>{{ sim.operator }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->

                    <!-- .col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-photo"></i></div>
                                <h5>Powiązane urządzenia</h5>

                                <div class="toolbar">
                                    <div class="btn-group">
                                        <a href="{{ path('sim_show', {'id': sim.id }) }}"
                                           class="btn btn-sm btn-info">
                                            <span class="link-title">Zmień</span>
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <a href="#condensedTable1" data-toggle="collapse"
                                           class="btn btn-default btn-sm minimize-box">
                                            <i class="fa fa-angle-up"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </header>
                            <div id="condensedTable1" class="body collapse in">
                                <table class="table table-condensed responsive-table">
                                    <tbody>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{ sim.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Tablet</th>
                                        <td>{{ sim.tablet }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}

