{% extends 'base.html.twig' %}

{% block title %} Edytuj system operacyjny{% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('os_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista OS</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- /.row -->
                <div class="row">
                    <!----------------------------------------------------->

                    <div class="col-lg-8">
                        <div class="box dark">
                            <header>
                                <div class="icons"><i class="fa fa-edit"></i></div>
                                <h5>Edytuj system operacyjny</h5>
                                <!-- .toolbar -->
                                <div class="toolbar">
                                    <nav style="padding: 8px;">
                                        <a href="javascript:;" class="btn btn-default btn-xs collapse-box">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-default btn-xs full-box">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="javascript:;" class="btn btn-danger btn-xs close-box">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </nav>
                                </div>            <!-- /.toolbar -->
                            </header>
                            <div id="div-1" class="body">

                                {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal'} }) }}

                                <div class="form-group">
                                    {{ form_label(edit_form.name, 'Nazwa Systemu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź nazwę OS'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.series, 'Wersja systemu', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.series, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź wersję np. Windows 7'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.edition, 'Edycja', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.edition, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź edycję np. home'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.brand, 'Producent', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.brand, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź Producenta'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.language, 'Wersja językowa', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.language, { 'attr': {'class': 'form-control', 'placeholder': 'Wprowadź wersję językową'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.architecture, 'Architektura', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.architecture, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz architekturę'} }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(edit_form.format, 'Typ nośnika', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.format, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz typ nośnika'} }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.license, 'Rodzaj licencji', { 'label_attr': {'class': 'control-label col-lg-4'} }) }}
                                    <div class="col-lg-6">
                                        {{ form_widget(edit_form.license, { 'attr': {'class': 'form-control', 'placeholder': 'Wybierz typ licencjonowania'} }) }}
                                    </div>
                                </div>


                                <input type="submit" value="Zapisz zmiany"
                                       class="btn btn-primary btn-grad control-label"/>
                                <br>
                                {{ form_end(edit_form) }}
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->

{% endblock %}