{% extends 'base.html.twig' %}

{% block title %} Systemy operacyjne {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('os_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-arrow-down"></i>
                <span class="link-title">Lista systemów operacyjnych</span>
            </a>
            <a href="{{ path('os_new') }}" class="btn btn-metis-5 btn-grad btn-rect btn-lg">
                <i class="fa fa-plus"></i>
                <span class="link-title">Dodaj</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}


{% block body %}

    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!--Begin Datatables-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-desktop"></i></div>
                                <h5>Lista systemów operacyjnych</h5>
                            </header>
                            <div id="collapse4" class="body">
                                <table id="dataTable"
                                       class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nazea</th>
                                        <th>Seria</th>
                                        <th>Edycja</th>
                                        <th>Wersja językowa</th>
                                        <th>Architektura</th>
                                        <th>Producent</th>
                                        <th>Format nośnika</th>
                                        <th>Typ licencji</th>
                                    </thead>
                                    <tbody>
                                    {% for o in os %}
                                        <tr onclick='location.href = "{{ path('os_show', { 'id': o.id }) }}"'>
                                            <td>{{ o.name }}</td>
                                            <td>{{ o.series }}</td>
                                            <td>{{ o.edition }}</td>
                                            <td>{{ o.language }}</td>
                                            <td>{{ o.architecture }}</td>
                                            <td>{{ o.brand }}</td>
                                            <td>{{ o.format }}</td>
                                            <td>{{ o.license }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!--End Datatables-->

            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
{% endblock %}



