{% extends 'base.html.twig' %}

{% block title %} Zasilacze UPS {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('ups_index') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-down"></i>
                <span class="link-title">Lista zasilaczy UPS</span>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('ups_new') }}" class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-plus"></i>
                <span class="link-title">Dodaj</span>
                {% endif %}
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}

    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!--Begin Datatables-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box">
                            <header>
                                <div class="icons"><i class="fa fa-file-text"></i></div>
                                <h5>Lista zasilaczy UPS</h5>
                            </header>

                            <div id="collapse456" class="body">

                                <table id="dataTable"
                                       class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>S/N</th>
                                        <th>Pojemność</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for up in ups %}
                                        <tr onclick='location.href = "{{ path('ups_show', { 'id': up.id }) }}"'>
                                            <td>{{ up.name }}</td>
                                            <td>{{ up.brand }}</td>
                                            <td>{{ up.model }}</td>
                                            <td>{{ up.serial }}</td>
                                            <td>{{ up.capacity }}</td>
                                            {#<td>#}
                                            {#{% if up.pictures is empty %}#}
                                            {#{% set picture = "default.png" %}#}
                                            {#<a href="{{ asset('pictures/' ~ picture) }}">#}
                                            {#<img src="{{ asset('pictures/' ~ picture) }}" alt="Desktop"#}
                                            {#height="40" width="40">#}
                                            {#</a>#}
                                            {#{% else %}#}
                                            {#<a href="{{ asset('pictures/' ~ up.pictures|first.file) }}">#}
                                            {#<img src="{{ asset('pictures/' ~ up.pictures|first.file) }}"#}
                                            {#alt="Desktop"#}
                                            {#height="40" width="40">#}
                                            {#</a>#}
                                            {#{% endif %}#}
                                            {#</td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!--End Datatables-->
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.outer -->
    </div>
    <!-- /#content -->
{% endblock %}