{% extends 'base.html.twig' %}

{% block title %} Dostęp {% endblock %}

{% block mainbar %}
    <div class="main-bar">
        <div>
            <a href="{{ path('networkdevice_index') }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Lista Urządzeń Sieciowych</span>
            </a>
            <a href="{{ path('networkdevice_show', {'id': networkDevice.id }) }}"
               class="btn btn-metis-5 btn-grad btn-rect btn-md">
                <i class="fa fa-arrow-left"></i>
                <span class="link-title">Pokaż Urządzenie Sieciowe</span>
            </a>
        </div>
    </div>
    <!-- /.main-bar -->
{% endblock %}

{% block body %}
    <!-- /#left -->
    <div id="content">
        <div class="outer">
            <div class="inner bg-light lter">
                <!-- .col-lg-6 -->
                <div class="col-lg-12">
                    <div class="box">
                        <header>
                            <div class="icons"><i class="fa fa-cogs"></i></div>
                            <h5>Metody Dostępu</h5>

                            <div class="toolbar">
                                <div class="btn-group">
                                    <a href="#condensedTable2" data-toggle="collapse"
                                       class="btn btn-default btn-sm minimize-box">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm close-box"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                        </header>

                        {% if networkDevice.passwords is not empty %}

                        <div id="collapse4" class="body">
                            <table id="dataTable"
                                   class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Dostęp</th>
                                    <th>Adres</th>
                                    <th>Dane logowania</th>
                                    <th>Opis</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for password in networkDevice.passwords %}
                                    <tr>
                                        <td>{{ password.name }}</td>
                                        <td>{{ password.type }}</td>
                                        <td>{{ password.address }}</td>
                                        <td>
                                            <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-target="#"
                                               data-toggle="popover" data-placement="right" data-animation="true"  data-trigger="focus"
                                               data-delay = '{ "show": 500, "hide": 100 }'
                                               data-content="Login: {{ password.login }} Hasło:{{ password.password | base64_decode }}">Pokaż</a>
                                        </td>
                                        <td>{{ password.description }}</td>
                                        <td>
                                            <a href="{{ path('network_device_password_edit', {
                                                'id' : networkDevice.id,
                                                'password': password.id
                                            }) }}" class="btn btn-warning btn-grad control-label">
                                                <i class="fa fa-wrench"></i>
                                                <span>Edytuj</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('network_device_password_delete', {
                                                'id' : networkDevice.id,
                                                'password' : password.id
                                            }) }}"
                                               class="btn btn-danger btn-grad control-label">
                                                <i class="fa fa-times "></i>
                                                <span>Usuń</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <!-- /.row -->
                    <!--End Datatables-->
                    {% else %}
                        <br><br>
                        <h4>&nbsp&nbsp<i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp</i> Brak
                            przypisanych haseł do tego sprzętu </h4>
                    {% endif %}

                    <br>
                    <a href="{{ path('network_device_password_new', {'id' : networkDevice.id}) }}"
                       class="btn btn-success btn-grad control-label">
                        <i class="fa fa-plus"></i>
                        <span>Dodaj nowe hasło</span>
                    </a><br>
                </div>

                <!-- /.col-lg-6 -->

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(
            );
        });

        $('.popover-dismiss').popover({
            trigger: 'focus'
        })


    </script>
{% endblock %}
